.one{
    background-color: none!important;


}
*{
    background-color: skyblue;
}
.box{
    background-color: aqua;
    margin-top:500px;
    margin-left:1000px;
    margin-right:1000px;
}
